@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Playfair+Display:wght@500;600;700;800;900&display=swap');

.font-serif { font-family: 'Playfair Display', serif; }
.font-sans { font-family: 'Roboto', sans-serif; }

body { font-family: 'Roboto', sans-serif; font-weight: 700; }
